<h1>Числа Армстронга</h1>
<p>Введите кол-во знаков для чисел Армстронга</p>
<%= form_tag("/armst/view", :method => "get") do %>
  <%= label_tag("Кол-во знаков") %>
  <%= text_field_tag(:v1) %> <br>
  <br>
  <label>
    <input type="radio" name="side" value="server" id="server-side" checked/>
    HTML (сторона сервера)
  </label><br>
  <label>
    <input type="radio" name="side" value="client" id="client-side"/>
    XML
  </label><br>
  <label>
     <input type="radio" name="side" value="client-with-xslt" id="client-side-xslt"/>
    XML + XSLT
  </label><br>
  <br>
  <%= submit_tag("Результат") %>
<% end %>
