<h1>Числа Армстронга</h1>
<p>Введите кол-во знаков для чисел Армстронга</p>
<%= form_tag("/armstrongs_numbers/view.json", :method => "get",
             remote: true, id: 'arm_form') do %>
  <%= label_tag("Кол-во знаков") %>
  <%= text_field_tag(:v1) %> <br/>
  <br/>
  <%= submit_tag("Результат", id: "submit") %>
<% end %><br/>
<div id="result"></div>
